<style>
    .content.scroll-container a{
        text-decoration: none;
    }
</style>

<div class="scroll-container" customScrollbar #scrollContainer>
    <filterable-page-header [filterQuery]="filterQuery" class="margin">
        <span trans>Popular Artists</span>
    </filterable-page-header>

    <ad-host slot="ad_slot_1"></ad-host>

    <media-grid class="genres">
        <div class="row row-sm padder-lg "> <br>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
             <div class="item">
                 <div class="pos-rlt">
                     <div class="item-overlay opacity r r-2x bg-black">
                         <div class="text-info padder m-t-sm text-sm">
                             <i class="glyphicon glyphicon-star"></i> 
                             <i class="glyphicon glyphicon-star"></i> 
                             <i class="glyphicon glyphicon-star"></i> 
                             <i class="glyphicon glyphicon-star"></i> 
                             <i class="glyphicon glyphicon-star"></i> 
                         </div>
                         <div class="text-center f-size-info">
                          <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
                      </div>
                  </div>
                  <a href="#">
              <!--------------------------- Artist IMAGE Here ------------------------------>
              <!--------------------------- The Image link in single quotes '' ------------------------------>
                     <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/1c8d229f74e14bac99b4b8d3f401f977.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
                         <div style="height:180px;overflow:hidden;"></div>
                     </div>
                 </a>
             </div>
             <div class="padder-v">
<!--------------------------- Artist NAME Here ------------------------------>

                 <a href="http://mp3skull.world/artist/3043/Aesop+Rock" class="text-ellipsis">Aesop Rock</a>
             </div>
         </div>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
         <div class="item">
             <div class="pos-rlt">
                 <div class="item-overlay opacity r r-2x bg-black">
                     <div class="text-info padder m-t-sm text-sm">
                        <i class="glyphicon glyphicon-star"></i> 
                        <i class="glyphicon glyphicon-star"></i> 
                        <i class="glyphicon glyphicon-star"></i> 
                        <i class="glyphicon glyphicon-star"></i> 
                        <i class="glyphicon glyphicon-star"></i> 
                    </div>
                    <div class="text-center f-size-info">
                      <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
                  </div>
              </div>

              <a href="#">
              <!--------------------------- Artist IMAGE Here ------------------------------>
              <!--------------------------- The Image link in single quotes '' ------------------------------>


                 <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/ea59851f1fe34a3186b069c958c41f56.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
                     <div style="height:180px;overflow:hidden;"></div>
                 </div>
             </a>
         </div>
         <div class="padder-v">

             <a href="#" class="text-ellipsis">Killah Priest</a>
         </div>
     </div>
 </div>

 <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
     <div class="item">
         <div class="pos-rlt">
             <div class="item-overlay opacity r r-2x bg-black">
                 <div class="text-info padder m-t-sm text-sm">
                    <i class="glyphicon glyphicon-star"></i> 
                    <i class="glyphicon glyphicon-star"></i> 
                    <i class="glyphicon glyphicon-star"></i> 
                    <i class="glyphicon glyphicon-star"></i> 
                    <i class="glyphicon glyphicon-star"></i> 
                </div>
                <div class="text-center f-size-info">
                  <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
              </div>
          </div>

          <a href="#">
              <!--------------------------- Artist IMAGE Here ------------------------------>
              <!--------------------------- The Image link in single quotes '' ------------------------------>
             <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/0d987395e3a04a1c8ac5b73e0679b533.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
                 <div style="height:180px;overflow:hidden;"></div>
             </div>
         </a>
     </div>
     <div class="padder-v">
     <!--------------------------- Artist NAME Here ------------------------------>
              
         <a href="#" class="text-ellipsis">Kendrick Lamar</a>
     </div>
 </div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>

      <a href="#">
              <!--------------------------- Artist IMAGE Here ------------------------------>
              <!--------------------------- The Image link in single quotes '' ------------------------------>
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/06daee61d98649fbafc29c946aae53d5.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">
 <!--------------------------- Artist NAME Here ------------------------------>
              
     <a href="http://mp3skull.world/artist/46655/K-Rino" class="text-ellipsis">K-Rino</a>
 </div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="http://mp3skull.world/artist/46655/K-Rino"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>
      <a href="#">
              <!--------------------------- Artist IMAGE Here ------------------------------>
              <!--------------------------- The Image link in single quotes '' ------------------------------>
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/8b0897c7cc714b74818b171a1002335b.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">
 <!--------------------------- Artist NAME Here ------------------------------>
     <a href="#" class="text-ellipsis">Jean Grae</a>
 </div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>

      <a href="#">
              <!--------------------------- Artist IMAGE Here ------------------------------>
              <!--------------------------- The Image link in single quotes '' ------------------------------>
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/613468c8e2084794b9ba986a44470407.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">
 <!--------------------------- Artist NAME Here ------------------------------>
              
     <a href="#" class="text-ellipsis">Aesop Rock</a>
 </div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>

      <a href="#">
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/e5e598bf02ae40bca38e448a058f6ab7.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">

     <a href="#" class="text-ellipsis">Killah Priest</a>
 </div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
       <div class="item-overlay opacity r r-2x bg-black">
         <div class="text-info padder m-t-sm text-sm">
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
        </div>
        <div class="text-center f-size-info">
          <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
      </div>
  </div>
  <a href="#">
     <div class="r r-2x img-full" style="background:url('https://lastfm-img2.akamaized.net/i/u/300x300/d6f1fa800b682affa8bd7fea1e40ac6b.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
         <div style="height:180px;overflow:hidden;"></div>
     </div>
 </a>
</div>
<div class="padder-v">

 <a href="#" class="text-ellipsis">Kendrick Lamar</a>
</div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
      <div class="item-overlay opacity r r-2x bg-black">
         <div class="text-info padder m-t-sm text-sm">
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
            <i class="glyphicon glyphicon-star"></i> 
        </div>
        <div class="text-center f-size-info">
          <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
      </div>

  </div>
  <a href="#">
     <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/06daee61d98649fbafc29c946aae53d5.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
         <div style="height:180px;overflow:hidden;"></div>
     </div>
 </a>
</div>
<div class="padder-v">

 <a href="#" class="text-ellipsis">K-Rino</a>
</div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>
      <a href="#">
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/c16c9e5d1fe946b2a2a663d32f578a18.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">

     <a href="#" class="text-ellipsis">Jean Grae</a>
 </div>
</div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>
      <a href="#">
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/1c8d229f74e14bac99b4b8d3f401f977.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">

     <a href="#" class="text-ellipsis">Aesop Rock</a>
 </div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
         <div class="item-overlay opacity r r-2x bg-black">
             <div class="text-info padder m-t-sm text-sm">
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
                <i class="glyphicon glyphicon-star"></i> 
            </div>
            <div class="text-center f-size-info">
              <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
          </div>
      </div>
      <a href="#">
         <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/ea59851f1fe34a3186b069c958c41f56.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
             <div style="height:180px;overflow:hidden;"></div>
         </div>
     </a>
 </div>
 <div class="padder-v">

     <a href="#" class="text-ellipsis">Killah Priest</a>
 </div>
</div>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
 <div class="item">
     <div class="pos-rlt">
       <div class="item-overlay opacity r r-2x bg-black">
         <div class="text-info padder m-t-sm text-sm">
             <i class="glyphicon glyphicon-star"></i> 
             <i class="glyphicon glyphicon-star"></i> 
             <i class="glyphicon glyphicon-star"></i> 
             <i class="glyphicon glyphicon-star"></i> 
             <i class="glyphicon glyphicon-star"></i> 

         </div>
         <div class="text-center f-size-info">
          <a href="#"><i class="glyphicon glyphicon-info-sign"></i> </a>
      </div>
  </div>
  <a href="#">
     <div class="r r-2x img-full" style="background:url('http://img2-ak.lst.fm/i/u/300x300/0d987395e3a04a1c8ac5b73e0679b533.png') no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
         <div style="height:180px;overflow:hidden;"></div>
     </div>
 </a>
</div>
<div class="padder-v">

 <a href="#" class="text-ellipsis">Kendrick Lamar</a>
</div>
</div>
</div>
</div>

    </media-grid>

    <ad-host slot="ad_slot_2" class="margin-bottom"></ad-host>
</div>